In [3]:
import pandas as pd 
import os

In [6]:

df = pd.read_csv("./dataset.csv")

df = df[:-3]
df

,Sr.No.,Industry Group,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22 (P),2022-23 (Q)
0,1.0,"Agriculture, Forestry and logging, Fishing and...",118950.0,107776.0,128246.0,129288.0,141202.0,152210.0,175857.0,160461.0,175640.0,170051.0,176657.0,184105.0
1,1.1,Of which Crops & Livestock,93776.0,77725.0,102466.0,100860.0,95232.0,101636.0,112591.0,98667.0,113693.0,116110.0,122904.0,129178.0
2,2.0,"Manufacturing, Electricity, Gas, Water Supply ...",168931.0,208946.0,216214.0,250872.0,281762.0,308118.0,338796.0,382691.0,409331.0,399043.0,454044.0,471191.0
3,2.1,Of which Manufacturing,111849.0,150403.0,153005.0,185755.0,214718.0,240424.0,266690.0,302426.0,325335.0,301558.0,348287.0,355052.0
4,3.0,"Trade, Repair Services And Hotels & Restaurant...",90417.0,104511.0,105780.0,115996.0,125107.0,138266.0,148942.0,167634.0,176370.0,159588.0,179141.0,205103.0
5,4.0,"Financial Services, Real estate, Ownership of ...",57753.0,63537.0,69629.0,74522.0,79639.0,83913.0,92720.0,103555.0,113858.0,117406.0,116673.0,120915.0
6,5.0,Public Administration and Other Services,33074.0,36244.0,38828.0,42033.0,45236.0,46379.0,54144.0,64062.0,66405.0,63064.0,57817.0,59379.0
7,6.0,Sub-total : Tertiary (3+4+5),181244.0,204292.0,214237.0,232551.0,249982.0,268558.0,295806.0,335251.0,356633.0,340058.0,353631.0,385397.0
8,7.0,Total Net State Value Added at Basic prices (1...,469125.0,521014.0,558697.0,612711.0,672946.0,728886.0,810459.0,878403.0,941604.0,909152.0,984332.0,1040693.0
9,8.0,Taxes on Products,77004.0,90283.0,98499.0,107776.0,116614.0,128276.0,149615.0,162182.0,175932.0,197359.0,236198.0,276319.0
10,9.0,Less Subsidies on Products,13319.0,14638.0,15707.0,14858.0,14784.0,13232.0,13563.0,6187.0,7358.0,21860.0,21966.0,22366.0
11,10.0,Total Net State Domestic Product at Market pri...,532810.0,596659.0,641489.0,705629.0,774776.0,843930.0,946511.0,1034398.0,1110178.0,1084651.0,1198564.0,1294646.0

In [7]:
industries = df['Industry Group'].unique()
industries

array(['Agriculture, Forestry and logging, Fishing and aquaculture, Mining & Quarrying',
       'Of which Crops & Livestock',
       'Manufacturing, Electricity, Gas, Water Supply & Other utility services and Construction',
       'Of which Manufacturing',
       'Trade, Repair Services And Hotels & Restaurants, Transport, Storage, Communication & Services related to broadcasting',
       'Financial Services, Real estate, Ownership of dwelling & Professional services',
       'Public Administration and Other Services',
       'Sub-total : Tertiary (3+4+5)',
       'Total Net State Value Added at Basic prices (1+2+6)',
       'Taxes on Products', 'Less Subsidies on Products',
       'Total Net State Domestic Product at Market prices (7+8-9)'],
      dtype=object)